secrets:
  sqlPwd: '-----BEGIN AGE ENCRYPTED FILE-----|YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFRXNpZ2lucE5WNnNWTllM|TmNhMGpPWS9rSmVoNVFjVTNrZDJCUHFPaFFRCkVwL3VmZ2Z1RXBuOEtobmVyTW93|d0xjTzhtd1VtbWR1bE1wLzRqZnpjbXMKLT4gM3BAJWJKbS1ncmVhc2Uga09DCm9z|ZWRnRm9qUGFCa0xjODFCRjVnRTJOUXV6ZW1vd3Y5Y2hhZlpycHBWQQotLS0gM1Fy|dEtocUJSQWhEdnc4SnI5OW5BUE55OFVPdzhvWWJ0Y1hzRHFaMUFqbwobXxftWwA7|N4qqKac4hWDTO3Y1Lt/jczL5UoqM//tpmJwJW9ASja6T0xyTglM=|-----END AGE ENCRYPTED FILE-----|'

mounts:
- mount: ~/test.txt
  file: |-
       - a
       - b
       - c
- mount: ~/test2/2.txt
  file: |-
    aaaaaa
- mount: ~/test2/test3/3.txt
  file: yeah
